<div class="Main_container">
  <div class="Form_container">
    <%= form_for :search, html: {class: "search-flights-form"}, method: :get do |f| %>
        <%= f.label :origin, 'Origin', class: "Label" %>
        <%= f.collection_select :origin, Airport.all, :id, :name, class: "Text_field", 
          selected: !@search_result.blank? && @search_result.first.origin.id %>
      
        <%= f.label :destination, 'Destination', class: "Label" %>
        <%= f.collection_select :destination, Airport.all, :id, :name, class: "Text_field",
          selected: @search_result.blank? ? 2 : @search_result.first.destination.id %>
      
        <%= f.label :date, 'Date', class: "Label" %>
        <%= f.collection_select :date, Flight.select(:departure).group(:departure), :departure, :departure,
          class: "Text_field", selected: !@search_result.blank? && @search_result.first.departure.to_s%>

        <%= f.label :passenger_num, 'Passengers', class: "Label" %>
        <%= f.select :passenger_num, 1..4, class: "Text_field",
          selected: !@search_result.blank? && @passengers_num %>
      <h3><%= f.submit "SEARCH", class: "Button" %></h3>
    <% end %>

    <% if !@search_result.blank? %>
      
      <%= form_for :flight_selection, url: new_booking_path, html: {class: "available-flights-form"}, method: :get do |f| %>
        <h2 class="Label" id="Title">AVAILABLE FLIGHTS</h2>
        <% @search_result.each do |flight| %>
          
            <%= f.label :flight, "#{flight.origin.name} 
                                  #{flight.destination.name} 
                                  #{flight.departure}", class: "Radio_selection" %>
            <%= f.radio_button :flight, flight.id, checked: true  %>
            <br>
            <br>
        <% end %>
        <%= f.hidden_field :passengers_num, value: @passengers_num %>
        <%= f.submit "SUBMIT", class: "Button" %>
      <% end %>
    <% end %>
  </div> 
</div>