<div class="Main_container">
  <div class="Form_container">
    <%= form_for :search, method: :get do |f| %>
      <h3><%= f.label :origin, 'Origin' %>
      <%= f.collection_select :origin, Airport.all, :id, :name, class: "Text_field", 
          selected: !@search_result.blank? && @search_result.first.origin.id %>
      
      <%= f.label :destination, 'Destination' %>
      <%= f.collection_select :destination, Airport.all, :id, :name, class: "Text_field",
          selected: !@search_result.blank? && @search_result.first.destination.id %>
      
      <%= f.label :date, 'Date' %>
      <%= f.collection_select :date, Flight.group(:departure), :departure, :departure,
          class: "Text_field", selected: !@search_result.blank? && @search_result.first.departure.to_s%>
      
      <%= f.label :passenger_num, 'Passengers' %>
      <%= f.select :passenger_num, 1..4, class: "Text_field",
          selected: !@search_result.blank? && @passengers_num %>
      
      <h3><%= f.submit "SEARCH", class: "Button" %></h3>
    <% end %>

    <% if !@search_result.blank? %>
      <h2>Available flights: </h2>
      <%= form_for :flight_selection, url: new_booking_path, method: :get do |f| %>
        <% @search_result.each do |flight| %>
          <h3>
            <%= f.label :flight, "#{flight.origin.name} 
                                  #{flight.destination.name} 
                                  #{flight.departure}" %>
            <%= f.radio_button :flight, flight.id %>
          </h3>
        <% end %>
        <%= f.hidden_field :passengers_num, value: @passengers_num %>
        <%= f.submit "SUBMIT", class: "Button" %>
      <% end %>
    <% end %>
  </div> 
</div>