<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag "beach.jpg", class: "Background_image" %>
    <%= render 'layouts/navbar' %> 
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
